body{
font-family:Arial;
background:#f4f4f4;
margin:10px;
}

h1{
text-align:center;
}

.box{
background:white;
padding:15px;
border-radius:8px;
margin-bottom:10px;
}

input,select,button{
width:100%;
padding:12px;
margin:5px 0;
font-size:16px;
}

button{
background:#2c7be5;
color:white;
border:none;
border-radius:6px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
margin-top:10px;
}

th,td{
border:1px solid #ccc;
padding:8px;
}
